@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 240 10% 3.9%;
    --radius: 0.3rem;

    /* New status color variables */
    --status-warning: 45, 100%, 50%;
    --status-error: 5, 78%, 44%;
    --status-good: 212, 85%, 47%;

    body ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    body.dark ::-webkit-scrollbar-track {
      background-color: #222;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    body.dark ::-webkit-scrollbar-thumb {
      background-color: #444;
      border-radius: 3px;
    }
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 5% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 12%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 5% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 18%;
    --input: 240 5% 18%;
    --ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .status-warning {
    border-color: hsl(var(--status-warning));
  }

  .status-error {
    border-color: hsl(var(--status-error));
  }

  .status-good {
    border-color: hsl(var(--status-good));
  }
}

/* Tiptap Dynamic Input element styling */
.ProseMirror {
  @apply w-full rounded-md border bg-transparent px-3 py-1 text-sm shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
}

/* Global Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box !important;
}
