@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;

    /* New status color variables */
    --status-warning: 45, 100%, 50%;
    --status-error: 5, 78%, 44%;
    --status-good: 212, 85%, 47%;

    body ::-webkit-scrollbar {
      width: 8px;
    }

    body.dark ::-webkit-scrollbar-track {
      background-color: #222;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    body.dark ::-webkit-scrollbar-thumb {
      background-color: #444;
      border-radius: 3px;
    }
  }

  .dark {
    --background: 0 0% 9.8%;
    --foreground: 60 9.1% 97.8%;
    --card: 0 0% 12.55%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 0 0% 12.55%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 0 0% 18%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0 0% 18%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .status-warning {
    border-color: hsl(var(--status-warning));
  }

  .status-error {
    border-color: hsl(var(--status-error));
  }

  .status-good {
    border-color: hsl(var(--status-good));
  }
}

/* Tiptap Dynamic Input element styling */
.ProseMirror {
  @apply w-full rounded-md border bg-transparent px-3 py-1 text-sm shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
}

/* Global Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box !important;
}
